<div class="container-fluid contenido2">
<div class="row">
        <div id="nosotros">
            <h2>Nosotros</h2>
            <div class="col-4">
            <p>Somos la primer empresa de turismo aventura en Mendoza. Desde hace 30 años brindamos entretenimiento a toda la familia y seguimos a la vanguardia sumando nuevos productos. </p>
        </div>
        </div>
    </div> <!-- cierra fila portada-->

   <div class="col-10 offset-1 pt-5">
    <h2 class="pb-3 text-center">Staff </h2>
    <p class="pb-3 text-center">Contamos con un staff fijo con cursos y certificaciones internacionales y guías que vienen de otros lugares del mundo y trabajan con nosotros por una o varias temporadas. Todos están capacitados en su disciplina y poseen cursos de rescate en lugares agrestes y aguas rápidas. </p>
   
    <div class="card mb-5">
      <div class="row g-0">
        <div class="col-md-3">
          <img src="images/martin.jpg" class="py-2 ps-2" alt="guia">
        </div>
        <div class="col-md-9 pe-3 ps-1">
          <div class="card-body">
            <p class="card-title pt-2">Martín Marquez</p>
            <h6 class="card-subtitle mb-2">Kayakista - Guía de rafting</h6>
            <p class="card-text">Es socio fundador de la empresa. Profesor de educación física. Tiene gran experiencia en ríos clase 4 y 5 
              Su pasión es el río y se desempeña generalmente como kayakista de seguridad. Ha realizado expediciones en los mejors ríos de Argentina, Africa, Perú y Estados Unidos. 
              consectetur adipisicing elit earum placeat libero numquam. equeinus rem distinctio exercitationem molestiae id totam voluptatibus beatae.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-5">
      <div class="row g-0">
        <div class="col-md-3">
          <img src="images/lucho.jpg" class="py-2 ps-2" alt="guia">
        </div>
        <div class="col-md-9 pe-3 ps-1">
          <div class="card-body">
            <p class="card-title pt-2">Lucho Valsec</p>
            <h6 class="card-subtitle mb-2">Guía de rafting</h6>
            <p class="card-text">Oriundo de Buenos Aires, es el quinto de 6 hermanos que se dedican al deporte aventura. Está con nosotros hace 8 años. Trabajó como guía en Estados Unidos, Perú e Italia. Nrem distinctio exercitationem
              molestiae id totam voluptatibus beatae quo, quae earum placeat libero numquam. Lorem ipsum dolor sit, amet
              consectetur adipisicing elit. Dolorum recusandae quos molestias odit mollitia consectetur labore neque.
             
      </p>

          </div>
        </div>
      </div>
    </div>
    <div class="card mb-5">
      <div class="row g-0">
        <div class="col-md-3">
          <img src="images/sara.jpg" class="py-2 ps-2" alt="guia">
        </div>
        <div class="col-md-9 pe-3 ps-2">
          <div class="card-body">
            <p class="card-title pt-1">Sarah Lipsick</p>
            <h6 class="card-subtitle mb-2">Guía de montaña</h6>
            <p class="card-text">Sarah nació en Suiza, vino de visita a Mendoza y se quedó a trabajar con nosotros. Es guía de montaña y rescatista certificada. Realiza expediciones de trekking y guía circuitos de canopy. t amet consectetur adipisicing elit. Nequeinus rem distinctio exercitationem
              molestiae id totam voluptatibus beatae quo, quae earum placeat libero numquam. Lorem ipsum dolor sit, amet
              consectetur adipisicing elit.
             </p>
          </div>
        </div>
      </div>
    </div>

<div class="card mb-5">
      <div class ="row g-0">
        <div class="col-md-3">
          <img src="images/tuti.jpg" class="py-2 ps-2" alt="guia">
        </div>
        <div class="col-md-9 pe-3 ps-1">
          <div class="card-body">
            <p class="card-title pt-2">Tuti Lescano</p>
            <h6 class="card-subtitle mb-2">Guía de montaña</h6>
            <p class="card-text">Guia en expediciones y canopy e instructor de parapente. Tuti trabaja con nosotros desde hace varios años. Ha sido guía en expediciones en el cerro Aconcagua. em
              molestiae id totam voluptatibus beatae quo, quae earum placeat libero numquam. Lorem ipsum dolor sit, amet
              consectetur adipisicing elit. Dolorum recusandae quos molestias odit mollitia consectetur labore neque
              provident quidem.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-5">
      <div class ="row g-0">
        <div class="col-md-3">
          <img src="images/matt.jpg" class="py-2 ps-2" alt="guia">
        </div>
        <div class="col-md-9 pe-3 ps-1">
          <div class="card-body">
            <p class="card-title pt-2">Mathew Corrigan</p>
            <h6 class="card-subtitle mb-2">Guía de rafting</h6>
            <p class="card-text">Matt es oriundo de Nueva Zelanda, ha trabajado con nosotros por 5 temporadas. Es kayakista y guía en aguas rápidas. 
              Tiene experiencia en ríos clase 5. Realizó expediciones en Italia, Costa Rica y Noruega. molestiae id totam voluptatibus beatae quo, quae earum placeat libero numquam. Lorem ipsum dolor sit, amet
              consectetur adipisicing elit. Dolorum recusandae quos molestias odit mollitia consectetur labore neque provident quidem. </p>
          </div>
        </div>
      </div>
    </div>


  </div> <!-- cierra container fluid -->

