<div class="row scroll-section" id="nosotros">
        <h2 class="text-center mt-4">Nosotros</h2>
        <div class="nos">
         <div class="box card">
          <img src="images/martin.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">Martín Moreno</h5>
            <h6 class="card-subtitle mb-2">Kayakista - Guía de rafting</h6>
            <p class="card-text">Lorem sit amet consectetur adipisicing elit. Neque corporis minus rem distinctio exercitationem molestiae id totam voluptatibus beatae quo, quae earum placeat libero numquam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum recusandae quos molestias odit mollitia consectetur labore neque provident quidem.</p>
             </div>
        </div>    
                  <div class="box card" >
          <img src="images/lucho.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">Lucho Valsec</h5>
            <h6 class="card-subtitle mb-2">Guía de rafting</h6>
            <p class="card-text">Lorem ipsum sit amet consectetur adipisicing elit. Neque corporis minus rem distinctio exercitationem molestiae id totam voluptatibus beatae quo, quae earum placeat libero numquam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum recusandae quos molestias odit mollitia consectetur labore neque provident similique.</p>
            </div>
        </div>
                  <div class="box card" >
          <img src="images/sara.JPG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">Sarah Lipsik</h5>
            <h6 class="card-subtitle mb-2">Guía de montaña</h6>
            <p class="card-text">Lorem adipisicing elit. Qui ipsum inventore non mollitia aliquam modi, vel quisquam fuga asperiores officia quaerat deleniti eos porro beatae quas autem velit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores eaque nemo aliquid obcaecati, repellat quaerat natus rem neque ab accusamus culpa expedita atque harum, qui perferendis.</p>
            </div>
        </div>                 
      <div class="box card">
        <img src="images/tuti.JPG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Matias Lescano</h5>
          <h6 class="card-subtitle mb-2">Guía de montaña</h6>
          <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id dolore quasi iste enim reprehenderit quidem suscipit ad possimus sapiente aliquam, labore, error nulla ut quia alias reiciendis. Amet, unde laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quis nisi corrupti illo? Voluptas illo, assumenda eligendi officiis cupiditate.</p>
          </div>
      </div>
            </div> <!-- cierre seccion nos -->

