<div class="container-fluid contenido">
<div class="row">
        <div id="nosotros">
            <h2 >Nosotros</h2>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit repellat blanditiis, dolorem iste,
                labore explicabo adipisci praesentium quisquam rem quidem aspernatur molestiae voluptas.
                Lorem ipsum dolor sit amet consectetur adipisicing elit repellat blanditiis, dolorem iste,
                labore explicabo adipisci praesentium quisquam rem quidem aspernatur molestiae voluptas.
                Lorem ipsum dolor sit amet consectetur adipisicing elit repellat blanditiis, dolorem iste,
                labore explicabo adipisci praesentium quisquam rem quidem aspernatur molestiae voluptas.</p>
        </div>
    </div> <!-- cierra fila portada-->

   <div class=" px-5 pt-5">
   
    <div class="card mb-5">
      <div class="row g-0">
        <div class="col-md-3">
          <img src="images/martin.jpg" class="py-2 ps-2" alt="...">
        </div>
        <div class="col-md-9 pe-3">
          <div class="card-body">
            <p class="card-title pt-1">Martín Moreno</p>
            <h6 class="card-subtitle mb-2">Kayakista - Guía de rafting</h6>
            <p class="card-text">Lorem sit amet consectetur adipisicing elit. Nequeinus rem distinctio exercitationem
              molestiae id totam voluptatibus beatae quo, quae earum placeat libero numquam. Lorem ipsum dolor sit, amet
              consectetur adipisicing elit. Dolorum recusandae quos molestias odit mollitia consectetur labore neque
              provident quidem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, aspernatur dolorum? Quas,
              dicta? Reiciendis facilis, quam cumque omnis et amet, esse ducimus iusto perspiciati</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-5">
      <div class="row g-0">
        <div class="col-md-3">
          <img src="images/lucho.jpg" class="py-2 ps-2" alt="...">
        </div>
        <div class="col-md-9 pe-3">
          <div class="card-body">
            <p class="card-title pt-1">Lucho Valsec</p>
            <h6 class="card-subtitle mb-2">Guía de rafting</h6>
            <p class="card-text">Lorem sit amet consectetur adipisicing elit. Nequeinus rem distinctio exercitationem
              molestiae id totam voluptatibus beatae quo, quae earum placeat libero numquam. Lorem ipsum dolor sit, amet
              consectetur adipisicing elit. Dolorum recusandae quos molestias odit mollitia consectetur labore neque
              provident quidem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, aspernatur dolorum? Quas,
              dicta? Reiciendis facilis, quam cumque omnis et amet, esse ducimus iusto perspiciati</p>

          </div>
        </div>
      </div>
    </div>
    <div class="card mb-5">
      <div class="row g-0">
        <div class="col-md-3">
          <img src="images/sara.jpg" class="py-2 ps-2" alt="...">
        </div>
        <div class="col-md-9 pe-3">
          <div class="card-body">
            <p class="card-title pt-1">Sarah Lipsick</p>
            <h6 class="card-subtitle mb-2">Guía de montaña</h6>
            <p class="card-text">Lorem sit amet consectetur adipisicing elit. Nequeinus rem distinctio exercitationem
              molestiae id totam voluptatibus beatae quo, quae earum placeat libero numquam. Lorem ipsum dolor sit, amet
              consectetur adipisicing elit. Dolorum recusandae quos molestias odit mollitia consectetur labore neque
              provident quidem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, aspernatur dolorum? Quas,
              dicta? Reiciendis facilis, quam cumque omnis et amet, esse ducimus iusto perspiciati</p>
          </div>
        </div>
      </div>
    </div>

<div class="card mb-5">
      <div class="row g-0">
        <div class="col-md-3">
          <img src="images/tuti.jpg" class="py-2 ps-2" alt="...">
        </div>
        <div class="col-md-9 pe-3">
          <div class="card-body">
            <p class="card-title pt-1">Matias Lescano</p>
            <h6 class="card-subtitle mb-2">Guía de montaña</h6>
            <p class="card-text">Lorem sit amet consectetur adipisicing elit. Nequeinus rem distinctio exercitationem
              molestiae id totam voluptatibus beatae quo, quae earum placeat libero numquam. Lorem ipsum dolor sit, amet
              consectetur adipisicing elit. Dolorum recusandae quos molestias odit mollitia consectetur labore neque
              provident quidem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, aspernatur dolorum? Quas,
              dicta? Reiciendis facilis, quam cumque omnis et amet, esse ducimus iusto perspiciati</p>
          </div>
        </div>
      </div>
    </div>


  </div> <!-- cierra container fluid -->

