<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rutas y controladores</title>
</head>
<body>
    <main>
        <h1>Rutas y controladores</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium accusamus quam in nesciunt quos, vel nihil necessitatibus consequuntur quidem consequatur architecto et expedita, hic itaque excepturi molestias placeat enim temporibus?</p>
    </main>
    
</body>
</html>