<div class="container-fluid contenido2 pt-5">
    <div class="row log">
        <div class="col-5 offset-2">

            <p class="out">Hola {{cliente}}! </p> <br>
                <a href="/admin/login/logout" class=" btn btn- sm btn-light">Cerrar sesión </a>

        </div>
    </div>
</div>