<div class="container-fluid novedades pt-5">
    <div class="datos col-8 offset-2 py-4">
        <h3 class="pb-3">Agregar una nueva novedad</h3>
        <form action="/admin/novedades/agregar" method="post" enctype="multipart/form-data" class="form-admin" >
            <div class="py-1">
                <label>Título:</label>
                <input type="text" class="form-control" name="titulo">
            </div>
            <div class="py-2">
                 <label>Descripción:</label>
                <textarea class="form-control" name="cuerpo" rows="9"></textarea>
            </div>
            <div class="row">
            <div class=" col-6 py-2 pe-5"> <label>Precio:</label>
            <input type="text" class="form-control" placeholder="88888" name="precio">
            </div>
             <div class=" col-6 py-2 ps-4">
                  <label>Imagen: </label> <br>
                  <input type="file" name="imagen" id="imagen" class="form-control">
            </div>
            </div> <!-- cierra row -->
            <div class="row">
                <div class="col-2">
            <button class="new btn btn-dark  border-light px-3 mt-2" type="submit">Guardar</button>
        </div>
        </form>
        <div class="col-5 pt-3">
        {{#if error}}
        <span class="error">{{message}}</span>
        {{/if}}
        </div> <!-- cierra div de mensaje -->
        </div> <!-- cierra fila de guardar-mensaje -->
    </div>
</div>