<div class="container-fluid novedades pt-5">
    <div class="row log">
        <div class="col-7 offset-2">

            <form action="/admin/login" method="post">
                <div class="py-1">
                    <label for="usuario" class="form-label">Usuario</label>
                    <input type="text" class="form-control" name="usuario">
                </div>
                <div class="row">
                    <div class="py-1">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                </div>

                <button class="new btn btn-dark  border-light px-3 my-2" type="submit">Enviar</button>
            </form>
            {{#if error}}
            <p>Usuario o password incorrecto</p>
            {{/if}}
        </div>
    </div>
</div>