@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
       font-family: 'Poppins', sans-serif;
       color: bisque;
}

.nav-link,
footer p {
       color: white
}

.nav-link:hover,
.icono:hover {
       color: white;
       font-weight: bold;
}

.navbar-expand-lg {
       background-color: #db2205;
}

.portada {
       background-image: url(../images/parapente.jpg);
       background-size: cover;
       height: 600px;
       position: relative;
}

h1 {
       font-size: 80px;
       font-family: 'Quicksand', sans-serif;

}

h2 {
       font-size: 50px;
       font-family: 'Quicksand', sans-serif;

}

h3 {
       font-size: 35px;
}

.titulo {
       padding-top: 30px;
}


.titulo p {
       font-size: 17px;
}

.mza {
       font-size: 25px;
       font-family: 'Quicksand', sans-serif;
}

.ubicacion {
       padding-top: 198px;

}

.icono {
       text-decoration: none;
       color: white;

}

.contenido {
       background-color: black;
}

.aventure {
       height: 500px;
}

.aventure img {
       height: 427px;
       width: 638px;
       border: 2px solid #a09e9e;

}

.contenido2 {
       background: linear-gradient(black, rgb(221, 216, 216));
}

.ofertas {
       border: 2px solid white;
       border-radius: 5px;
       width: 92%;
       height: 350px;
       display: flex;
       justify-content: space-evenly;
       padding-top: 50px;
       margin: auto;
}

.promos {
       list-style-type: none;
       padding: 0;
}

.promos li {
       font-size: 20px;
       font-weight: bold;

}

.promos li a {
       text-decoration: none;
       color: white;
}

.promos li a:hover {
       color: #7a7ad3;
}

.promos li a img {
       height: 100px;
       width: 180px;
       margin-bottom: 35px;
       margin-right: 12px;
       border: 1px solid rgb(199, 193, 193);
}

.promos li a:hover img {
       border: 3px solid black;
}

.picmod {
       /*fotos de modal*/
       width: 465px;
       border: 2px solid bisque;
       border-radius: 4px;
       margin-top: 2px;
}

.modal-content {
       background-color: black;
       color: bisque
}

.btn-close {
       color: bisque;
       font-weight: bold;
}

#galeria,
#contacto {
       display: flex;
       justify-content: space-evenly;
       padding-top: 80px;
       margin: auto;
}

#contacto {
       color: black;

}

.carousel {
       width: 640px;
       border: 3px solid #141313;
       border-radius: 5px;

}

.comentarios {
       height: 422px;
       width: 600px;
       border: 3px solid #141313;
       border-radius: 5px;
       background-color: #202022;
       overflow-y: scroll;
}

h5 {
       font-size: 22px;
}

.mp {
       width: 450px;
       aspect-ratio: 1.2;
       border: 2px solid #39393a;
       border-radius: 5px;
       margin: 4px;
}

.contact {
       width: 700px;
       height: 450px;
       padding: 10px 10px 10px 0px;


}

.form-label {
       font-size: 16px;
       font-weight: bold;
}

.form-control {
       border: 2px solid #39393a;
}

.submit:hover {
       color: black;
}


/*nosotros*/
#nosotros{padding-top: 120px;
         background-image: url(../images/dorado.jpg);
    background-size: cover;
    height: 400px;
    background-position: center;
}    
   
#nosotros h2{   font-size: 70px;
       font-family: 'Quicksand', sans-serif;
       padding-left: 20px;}

 #nosotros p{padding-left: 20px;  
 padding-right: 350px;   
 
 }

.card {
       background: linear-gradient(#484646, #dcd7d7);
       border: 1px solid  #cdd2d6;

}

.card img{border-radius: 5px;}
.card-title {
       font-size: 20px;
       color: white
}

.card-subtitle {
       font-size: 18px;
color: #cdd2d6;}

.card-text{color: black;
       font-size: 16px;
       
}




.log {
       height: 500px;
       margin-top: 40px;
       padding-bottom: 100px;
}


footer {
       background-color: rgb(49, 47, 47);
}

html {
       scroll-behavior: smooth;
}

.scroll-section {
       scroll-margin-top: 60px;
}